#ms-board {
  background-color: #c0c0c0;
  border: 2pt #606060;
  margin: 10px;
  padding: 20px;
  min-width: 160px;
}

.ms-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.ms-field {
  display: grid;
  min-height: 160px;
  min-width: 160px;
}

.ms-num-display {
  display: flex;
  justify-content: center;
  min-width: 39px;
}

/* Classic Sprites */
.classic {
  background: url("../resources/classic.png") no-repeat;
}
/* Cells */
.classic.ms-cell {
  height: 16px;
  width: 16px;
}

.classic.ms-hidden {
  background-position: 0 -51px;
}

.classic.ms-cell-pressed {
  background-position: -17px -51px;
}

.classic.ms-btn {
  height: 26px;
  width: 26px;
}

.classic.ms-smiley {
  background-position: 0 -24px;
}

.classic.ms-smiley-pressed {
  background-position: -27px -24px;
}

.classic.ms-wow {
  background-position: -54px -24px;
}

.classic.ms-sunny {
  background-position: -81px -24px;
}

.classic.ms-dead {
  background-position: -108px -24px;
}

.classic.ms-digit {
  height: 23px;
  width: 13px;
}

.classic.ms-0 {
  background-position: -126px 0;
}

.classic.ms-1 {
  background-position: -126px 0;
}

.classic.ms-2 {
  background-position: -126px 0;
}

.classic.ms-3 {
  background-position: -126px 0;
}

.classic.ms-4 {
  background-position: -126px 0;
}

.classic.ms-5 {
  background-position: -126px 0;
}

.classic.ms-6 {
  background-position: -126px 0;
}

.classic.ms-7 {
  background-position: -126px 0;
}

.classic.ms-8 {
  background-position: -126px 0;
}

.classic.ms-9 {
  background-position: -126px 0;
}
